
:root {
    scroll-behavior: smooth;
    --azul-dos: hsl(234, 86%, 60%);
    --azul-tres: hsl(234, 87%, 70%);
    --azul-uno: hsl(218, 98%, 22%);
    --fuente: 	hsl(0, 0%, 27%);
    --background: hsl(220, 100%, 98%);
    --blanco: hsl(0, 0%, 100%);
}

body {
    font-family: "Open Sans", sans-serif;
    background: var(--background);
    color: var(--fuente);
}

a {
    color: var(--azul-dos);
    text-decoration: none;
}

a:hover {
    color: var(--azul-tres);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}

/*--------------------------------------------------------------
# Titulo pagina
--------------------------------------------------------------*/
.pagetitle {
    margin-bottom: 10px;
}

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: var(--azul-uno);
}



