:root {
    --azul-dos: hsl(234, 86%, 60%);
    --azul-tres: hsl(234, 87%, 70%);
    --azul-uno: hsl(218, 98%, 22%);
    --fuente: 	hsl(0, 0%, 27%);
    --background: hsl(220, 100%, 98%);
    --blanco: hsl(0, 0%, 100%);
}

/*--------------------------------------------------------------
# Metas
--------------------------------------------------------------*/

.contenedor-tablas{
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .contenedor-tablas{
        row-gap: 20px;
        flex-direction: column;
    }
}

.contenedor-cat-montos{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.contenedor-montos{
    display: flex;
}

/* Estilos para pantallas extra pequeñas (teléfonos móviles) */

.meta-botonAgregar{
display: flex;
align-items: center;
justify-content: space-evenly;
}

.bi-plus{
      display: inline;
  }

.text-meta-b{
    display: none;
 }

/* Estilos para pantallas pequeñas (retratos de teléfonos móviles) */
@media (min-width: 576px) {
    .bi-plus{
          display: inline;
      }

    .text-meta-b{
        display: none;
     }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) {

     .bi-plus{
           display: none;
       }

       .text-meta-b{
           display: inline;
        }
}

/* Estilos para pantallas grandes (computadoras de escritorio) */
@media (min-width: 992px) {
  .meta-botonAgregar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }

  .bi-plus{
      display: none;
  }

  .text-meta-b{
      display: inline;
   }
}

/* Estilos para pantallas extra grandes (pantallas grandes de escritorio) */
@media (min-width: 1200px) {
 .meta-botonAgregar{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 }

 .bi-plus{
    display: none;
 }

 .text-meta-b{
    display: inline;
 }
}