:root {
    --azul-dos: hsl(234, 86%, 60%);
    --azul-tres: hsl(234, 87%, 70%);
    --azul-uno: hsl(218, 98%, 22%);
    --fuente: 	hsl(0, 0%, 27%);
    --background: hsl(220, 100%, 98%);
    --blanco: hsl(0, 0%, 100%);
}

/*--------------------------------------------------------------
# Metas
--------------------------------------------------------------*/

.contenedor-tablas{
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .contenedor-tablas{
        row-gap: 20px;
        flex-direction: column;
    }
}

.contenedor-cat-montos{
    display:flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.contenedor-montos{
    display: flex;
    flex-direction: column;
}