
.flex-movimientos{
    display: flex;
    column-gap: 20px;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .flex-movimientos{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}

.tipo-ingreso{
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    background: #3ad915de;
}
.tipo-egreso{
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    background: #f72727de;
}


/*
@media (max-width: 768px) {
    .card{
        width: 80%;
    }
}


 */

.btn-color {
    background-color: white;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    top: 55px;
    left: 15px;

}


.btn-color:hover {
    background-color: #ccc;
}


.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:89px;
}

.contenedor-grafico-calendario{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contenedor-grafico-calendario div{
    width: 100%;
}

/*#movimientoTarjeta{
    height: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    overflow-y: auto;
    overflow-x: hidden;
}*/

