.container{
    display: flex;
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
}

.container .contenedor-total-grafico{
    display: flex;
    flex-direction: column;
    width: 65%;
    row-gap: 20px;
}

.container .contenedor-grafico-categorias{
    width: 35%;
}

@media (max-width: 768px){
    .container .contenedor-grafico-categorias{
        width: 100%;
    }
}

@media (max-width: 768px){
    .container .contenedor-total-grafico{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
}

.meses{
    text-align: center;
}

.pagetitle h1{
    margin-left: 1.8em;
}

/*
.lineas {
    height: 357px;
    width: 814px;
}

.contenedor-monto-total{
    width: 250px;
}

.contenedor-grafico-categorias{
    margin-left: 10px;
}

 */