<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Agregar Movimiento')">

</head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main  id="main" class="main">
    <h1 id="titulo">Agregar Movimiento</h1>

    <div class="contenedor">
    <form action="#" th:action="@{/nuevo-movimiento}" method="POST" th:object="${agregarMovimiento}">
        <label for="nombre">Nombre: </label>
        <input th:field="*{descripcion}" id="nombre" type="text">
        <label for="tipoMovimiento">Tipo: </label>
        <select th:field="*{tipo}" id="tipoMovimiento">
            <option value="">Seleccione el tipo de movimiento</option>
            <option value="INGRESO">INGRESO</option>
            <option value="EGRESO">EGRESO</option>
        </select>
        <label for="categoriaMovimiento">Categoría: </label>
        <select th:field="*{categoria}" id="categoriaMovimiento">
            <option value="">Seleccione la categoría</option>
            <!-- Las opciones de categoría se generarán dinámicamente -->
        </select>
        <label for="monto">Monto: </label>
        <input th:field="*{monto}" id="monto" type="number">
        <button type="submit">Agregar</button>
    </form>
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/agregar-mov.js}"></script>
</body>
</html>