<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Agregar movimiento</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap css / Bootstrap Icons -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Mi CSS-->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main  id="main" class="main d-flex justify-content-center">
    <div class="card w-75 mb-3">
        <div class="card-body">
            <legend>Agregar movimiento</legend>
            <form action="#" th:action="@{/movimientos/nuevo-movimiento}" method="POST" th:object="${agregarMovimiento}">
                <fieldset>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre: </label>
                        <input th:field="*{descripcion}" id="nombre" type="text" class="form-control">
                        <p th:if="${errores != null && errores.get('descripcion') != null}" class="alert alert-danger" th:text="${errores.get('descripcion')}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="tipoMovimiento" class="form-label">Tipo: </label>
                        <select th:field="*{tipo}" id="tipoMovimiento" class="form-select">
                            <option value="">Seleccione el tipo de movimiento</option>
                            <option value="INGRESO">INGRESO</option>
                            <option value="EGRESO">EGRESO</option>
                        </select>
                        <p th:if="${errores != null && errores.get('tipo') != null}" class="alert alert-danger" th:text="${errores.get('tipo')}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="categoriaMovimiento" class="form-label">Categoría: </label>
                        <select th:field="*{categoria}" id="categoriaMovimiento" class="form-select">
                            <option value="">Seleccione la categoría</option>
                            <!-- Las opciones de categoría se generarán dinámicamente -->
                        </select>
                        <p th:if="${errores != null && errores.get('categoria') != null}" class="alert alert-danger" th:text="${errores.get('categoria')}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="monto" class="form-label">Monto: </label>
                        <input th:field="*{monto}" id="monto" type="number" class="form-control">
                        <p th:if="${errores != null && errores.get('monto') != null}" class="alert alert-danger" th:text="${errores.get('monto')}"></p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">¿Desea compartir este movimiento con un amigo?</label>
                        <div class="mb-3">
                            <input type="radio" id="compartirNo" name="compartirMovimiento" value="no" checked>
                            <label for="compartirNo">No</label>
                            <input type="radio" id="compartirSi" name="compartirMovimiento" value="si">
                            <label for="compartirSi">Sí</label>
                        </div>
                        <div id="compartirDetalles" style="display: none;">
                            <div class="mb-3">
                                <label for="amigo" class="form-label">Amigo:</label>
                                <select th:field="*{idAmigo}" id="amigo" class="form-select">
                                    <option value="">Seleccione un amigo</option>
                                    <option th:each="amigo : ${amigos}" th:value="${amigo.id}" th:text="${amigo.nombre}"></option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="montoAmigo" class="form-label">Monto de amigo:</label>
                                <input th:field="*{montoAmigo}" id="montoAmigo" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="/spring/movimientos" class="btn btn-warning" style="color:white">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/agregar-mov.js}"></script>
<script th:src="@{/js/compartir-mov.js}"></script>
</body>
</html>