<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Cuentas Compartidas')"><meta charset="UTF-8"></head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>En contrucción...</h1>
    </div>

</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Script -->
<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
</body>
</html>