<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Editar Movimiento</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap css / Bootstrap Icons -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Mi CSS-->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>

<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>
<main id="main" class="main d-flex justify-content-center">
<div class="card w-75 mb-3">
    <div class="card-body">
<form th:object="${movimiento}" class="formulario-editar" th:action="@{/movimientos/editar}" method="POST">
    <fieldset>
        <legend>Editar movimiento</legend>
        <input th:field="*{fechayHora}" class="form-control" th:value="${fechayHora}" type="hidden">
        <input th:field="*{id}" type="hidden" class="form-control" th:value="${id}">

        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <input th:field="*{descripcion}" type="text" class="form-control" th:value="${descripcion}">
            <p th:if="${errores != null && errores.get('descripcion') != null}" class="alert alert-danger" th:text="${errores.get('descripcion')}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Tipo</label>
            <select class="form-select" id="tipos" th:field="*{tipo}">
                <option  th:selected="${movimiento.tipo.equals('INGRESO')}" value="INGRESO">INGRESO</option>
                <option th:selected="${movimiento.tipo.equals('EGRESO')}" value="EGRESO">EGRESO</option>
            </select>
            <p th:if="${errores != null && errores.get('tipo') != null}" class="alert alert-danger" th:text="${errores.get('tipo')}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <div>
            <select th:field="*{categoria}" class="form-select" id="categorias">

            </select>
                <p th:if="${errores != null && errores.get('categoria') != null}" class="alert alert-danger" th:text="${errores.get('categoria')}"></p>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Monto</label>
            <input th:field="*{monto}" type="text" class="form-control" th:value="${monto}">
            <p th:if="${errores != null && errores.get('monto') != null}" class="alert alert-danger" th:text="${errores.get('monto')}"></p>
        </div>
        <div class="d-flex justify-content-between">
            <a href="/spring/movimientos" class="btn btn-warning" style="color:white">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </fieldset>
</form>
    </div>
</div>
</main>
<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>


<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
<script th:inline="javascript">
    const movimiento = [[${movimiento}]]
    const selectTipos = document.getElementById("tipos");
    const selectCategorias = document.getElementById("categorias")

    selectTipos.addEventListener("change", cambiarTipo)

    cargarCategorias(movimiento.tipo)

    function cargarCategorias(tipo){
        selectCategorias.innerHTML=""
        let categorias = []

        if(tipo === "INGRESO"){
            categorias = ['SUELDO', 'REGALO', 'REEMBOLSO', 'EXTRA']
        }else{
            categorias = ['RESTAURANTE', 'ENTRETENIMIENTO', 'INDUMENTARIA', 'TRANSPORTE', 'PAGO_DE_SERVICIOS', 'SUPERMERCADO']
        }

        categorias.forEach((categoria) => {
            const option = document.createElement('option')
            option.value = categoria
            option.text = categoria
            selectCategorias.add(option)
        })
        selectCategorias.value = movimiento.categoria
    }

    function cambiarTipo(e){
        const tipo = e.target.value
        cargarCategorias(tipo)
    }

</script>
</body>
</html>