<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Metas</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap css / Bootstrap Icons -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Mi CSS-->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/metas.css}">
</head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main id="main" class="main align-content-center">

    <div class="card w-100" th:if="${not #lists.isEmpty(metasVencidas)}">
        <div class="seguimiento card-body">
            <h3 class="pt-3 text-center border-bottom">Historial de metas</h3>
            <!--LISTA DE SEGUIMIENTO DE METAS-->
            <ul class="p-0">
                <li th:each="meta : ${metasVencidas}" class="list-group-item p-1">
                    <!--ICONO Y NOMBRE DE CATEGORIA-->
                    <span th:style="'color:' + (${meta.categoriaMovimiento.getColor()})" class="fw-semibold">
            <i th:classappend="${meta.categoriaMovimiento.getIcono()}"></i>
            <span th:text="${meta.categoriaMovimiento.getNombre()}"></span>
        </span>
                    <!--FECHA DE INICIO Y DE FIN DE LA META-->
                    <span class="contenedor-fechas">
            <span th:text="${#dates.format(meta.fechaInicio, 'dd/MM/yyyy' + ' - ')}"></span>
            <span th:text="${#dates.format(meta.fechaFin, 'dd/MM/yyyy')}"></span>
        </span>
                    <!--MONTO GASTADO Y MONTO META DE LA CATEGORIA-->
                    <span class="contenedor-montos">
            <span th:text="'$ ' + ${meta.totalGastado}" class="fw-semibold"></span>
            <small th:text=" ' / de $ ' + ${meta.montoMeta}"></small>
        </span>
                    <!--BARRA DE PROGRESO-->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${meta.totalGastado}, aria-valuemin=0, aria-valuemax=${meta.montoMeta}" th:style="'width: ' + ${(meta.totalGastado/meta.montoMeta)*100} + '%; background-color: ' + ${meta.categoriaMovimiento.getColor()}"  th:text="${(meta.totalGastado/meta.montoMeta)*100}>100? '100%': ${T(java.lang.Math).round((meta.totalGastado / meta.montoMeta) * 100)} + '%'">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</main>
<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Script -->
<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
</body>
</html>