<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Metas</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap css / Bootstrap Icons -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Mi CSS-->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/metas.css}">
</head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main id="main" class="main align-content-center">
    <div th:if="${#lists.isEmpty(metas)}">
        <div class="pagetitle">
            <h1>No has establecido metas.</h1> <br> <br>
            <a th:href="@{/metas/agregar}" class="btn btn-primary">Crear una meta</a>
        </div>
    </div>
    <div class="contenedor-tablas">
        <div class="card w-100" th:if="${not #lists.isEmpty(metas)}">
            <div class="card-body">
                <h2 class="card-title text-center border-bottom">Metas</h2>

                <!-- Default Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Categoría</th>
                        <th scope="col">Meta</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:each="meta: ${metas}">
                    <tr>
                        <td th:text="${meta.categoriaMovimiento.getNombre()}"></td>
                        <td th:text="${meta.montoMeta}"></td>
                        <td><a th:href="@{/metas/editar/{id}(id=${meta.id})}"><i class="bi bi-pencil"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card w-100" th:if="${not #lists.isEmpty(metas)}">
            <div class="seguimiento card-body">
                <h3 class="pt-3 text-center border-bottom">Seguimiento de metas</h3>
                <ul id="lista-seguimiento-metas">

                </ul>
            </div>
        </div>
    </div>
    <div class="pt-3" th:if="${not #lists.isEmpty(metas)}">
        <a th:href="@{/metas/agregar}" class="btn btn-primary">Agregar nueva meta</a>
    </div>
</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Script -->
<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/js/metas.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
</body>
</html>