<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Movimientos</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap css / Bootstrap Icons -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Mi CSS-->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/movimientos.css}">
</head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main id="main" class="main">
    <div class="flex-movimientos">
        <div class="card w-100" id="movimientoTarjeta">
            <h1 class="pt-3 text-center">Movimientos</h1>
            <div class="card-body" th:if="${not #lists.isEmpty(movimientos)}">
                <ul class="list-group" id="lista-movimientos">
                    <li th:each="movimiento : ${movimientos}" class="list-group-item item">
                        <!-- Accede a las propiedades de cada movimiento -->
                        <span>
                            <span th:text="${movimiento.descripcion}"></span><br>
                            <span th:text="${movimiento.categoria.getNombre()}"></span><br>
                            <small th:text="${movimiento.fechayHora}"></small>
                        </span>
                        <span>
                            <span th:text="${movimiento.categoria.tipo.nombre eq 'INGRESO' ? '+ $' + movimiento.monto : '- $' + movimiento.monto}" th:class="${movimiento.categoria.tipo.nombre eq 'INGRESO'} ? 'tipo-ingreso' : 'tipo-egreso'"></span>
                            <a th:href="@{/movimientos/editar/{id}(id=${movimiento.id})}"><i class="bi bi-pencil"></i></a>
                            <!-- etc. -->
                        </span>
                    </li>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination pt-3">
                            <span th:each="numeroPagina : ${#numbers.sequence(1, cantidadDePaginas)}">
                                <li th:classappend="${numeroPagina == paginaActual} ? 'active' : ''" class="page-item"><a class="page-link" aria-current="${numeroPagina == paginaActual} ? 'page' : ''" href="#" th:href="@{/movimientos(pagina=${numeroPagina})}" th:text="${numeroPagina}"></a></li>
                            </span>
                        </ul>
                    </nav><!-- End Pagination with icons -->

                    <div class="d-flex gap-3">

                    </div>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(movimientos)}">
                <p>No hay movimientos disponibles.</p>
            </div>
        </div>
        <div class="contenedor-grafico-calendario">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Podés ver tus movimientos por fecha.</h5>
                    <input type="date" name="calendario" id="calendario">
                </div>
            </div>

            <div id="contenedor-grafico" style="display: none;" class="card w-100">
                <!-- Este gráfico reflejará los gastos y egresos totales
                   de una determinanda fecha-->
                <div class="card-body">
                    <h6 class="card-title">Total de ingresos y egresos en ese día</h6>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>


<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/movimientos.js}"></script>
</body>
</html>