<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Movimientos')"></head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main id="main" class="main">
    <h1>Movimientos</h1>
    <div class="flex-movimientos">
        <div class="card">
            <div class="card-body" th:if="${not #lists.isEmpty(movimientos)}">
                <ul class="list-group" id="lista-movimientos">
                    <li th:each="movimiento : ${movimientos}" class="list-group-item">
                        <!-- Accede a las propiedades de cada movimiento -->
                        <span>
                            <span>
                                <span th:text="${movimiento.descripcion}"></span><br>
                                <span th:text="${movimiento.categoria.getNombre()}"></span>
                            </span>
                            <span th:text="${movimiento.monto}"></span>
                        </span>
                        <!-- etc. -->
                        <a th:href="@{/movimientos/editar/{id}(id=${movimiento.id})}"><i class="bi bi-pencil"></i></a>
                    </li>

                </ul>
            </div>
            <div th:if="${#lists.isEmpty(movimientos)}">
                <p>No hay movimientos disponibles.</p>
            </div>
        </div>
        <div class="calendario-grafico">
            <div class="contenedor-calendario">
                <input type="date" name="calendario" id="calendario">
            </div>
            <div class="contenedor-grafico">
                <!-- Este gráfico reflejará los gastos y egresos totales
                de una determinanda fecha-->
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>


<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/movimientos.js}"></script>
</body>
</html>