<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Notificaciones</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap css / Bootstrap Icons -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Mi CSS-->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/cuentas-compartidas.css}">
</head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main id="main" class="main">
    <h2 class="pt-3 text-center">Notificaciones</h2> <br>
    <div class="card-body" th:if="${not #lists.isEmpty(solicitudesRecibidas)}">
        <ul class="list-group" id="lista-solicitudes">
            <li th:each="solicitudRecibida : ${solicitudesRecibidas}"
                th:classappend="${solicitudRecibida.estado == 'Pendiente' ? 'amigo-pendiente' : ''}"
                class="list-group-item item d-flex justify-content-between">
                <span th:text="${solicitudRecibida.getDescripcion()}"></span>
                <div class="d-flex">
                    <form th:object="${solicitudRecibida}" th:action="@{/movimientos-compartidos/aceptarSolicitud/{id}(id=${solicitudRecibida.id})}" method="POST">
                        <button type="submit" th:if="${solicitudRecibida.estado == 'Pendiente'}" class="btn btn-primary mr-2" id="botonAceptar">Aceptar</button>
                    </form>
                    <form th:object="${solicitudRecibida}" th:action="@{/movimientos-compartidos/eliminarSolicitud/{id}(id=${solicitudRecibida.id})}" method="POST">
                        <button type="submit" th:if="${solicitudRecibida.estado == 'Pendiente'}" class="btn btn-danger">Rechazar</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-body" th:if="${not #lists.isEmpty(solicitudesAceptadas)}">
        <ul class="list-group" id="lista-solicitudesAceptadas">
            <li th:each="solicitudAceptada : ${solicitudesAceptadas}"
                th:classappend="${solicitudAceptada.estado == 'Aceptada' ? 'amigo-aceptado' : ''}"
                class="list-group-item item d-flex justify-content-between">
                <span th:text="${solicitudAceptada.getDescripcion()}"></span>
                <div class="d-flex">
                    Amigo agregado exitosamente!
                </div>
            </li>
        </ul>
    </div>
</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Script -->
<script th:src="@{/js/principal.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>
</body>
</html>