<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Nuevo usuario</title>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Bootstrap css / Bootstrap Icons -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

  <!-- Mi CSS-->
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/nuevo-usuario.css}">
</head>

<body>

<!-- Nav -->
<nav class="navbar navbar-expand-md navbar-custom fixed-top">
  <a th:href="@{/login}" class="logo d-flex align-items-center">
    <img th:src="@{/img/logo.png}" alt="logo">
    <span class="d-none d-lg-block">FinanzApp</span>
  </a>
</nav>

<!-- Formulario de registro -->
<main role="main" class="container">
  <div class = "container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
        <h3 class="form-signin-heading">Nuevo Usuario</h3>
        <h5>Ingrese sus datos</h5>
        <hr class="colorgraph"><br>

        <div>
          <label for="nombre">Nombre:</label>
          <input th:field="*{nombre}" id="nombre" class="form-control"/>
          <p th:if="${errores != null && errores.get('nombre') != null}" class="alert alert-danger" th:text="${errores.get('nombre')}"></p>
        </div>

        <div>
          <label for="apellido">Apellido:</label>
          <input th:field="*{apellido}" id="apellido" class="form-control"/>
          <p th:if="${errores != null && errores.get('apellido') != null}" class="alert alert-danger" th:text="${errores.get('apellido')}"></p>
        </div>

        <div>
          <label for="nombreUsuario">Nombre Usuario:</label>
          <input th:field="*{nombreUsuario}" id="nombreUsuario" class="form-control"/>
          <p th:if="${errores != null && errores.get('nombreUsuario') != null}" class="alert alert-danger" th:text="${errores.get('nombreUsuario')}"></p>
        </div>

        <div>
          <label for="email">Email:</label>
          <input th:field="*{email}" id="email" class="form-control"/>
          <p th:if="${errores != null && errores.get('email') != null}" class="alert alert-danger" th:text="${errores.get('email')}"></p>
        </div>

        <div>
          <label for="password">Contraseña:</label>
          <input th:field="*{password}" type="password" id="password" class="form-control"/>
          <p th:if="${errores != null && errores.get('password') != null}" class="alert alert-danger" th:text="${errores.get('password')}"></p>
        </div>

        <div>
          <label for="fechaNacimiento">Fecha de Nacimiento:</label>
          <input type="text" th:field="*{fechaNacimiento}" id="fechaNacimiento" class="form-control" placeholder="yyyy-MM-dd">
          <p th:if="${errores != null && errores.get('fechaNacimiento') != null}" class="alert alert-danger" th:text="${errores.get('fechaNacimiento')}"></p>
        </div>

        <div>
          <label for="pais">País:</label>
          <input th:field="*{pais}" id="pais" class="form-control"/>
          <p th:if="${errores != null && errores.get('pais') != null}" class="alert alert-danger" th:text="${errores.get('pais')}"></p>
        </div>

        <div>
          <label for="telefono">Teléfono:</label>
          <input th:field="*{telefono}" id="telefono" class="form-control"/>
          <p th:if="${errores != null && errores.get('telefono') != null}" class="alert alert-danger" th:text="${errores.get('telefono')}"></p>
        </div>

        <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" Type="Submit">Registrarme</button>
        <p th:if="${error != null}" class="alert alert-danger" th:text="${error}"></p>
      </form>

    </div>
  </div>
</main>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>