<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Panel</title>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Bootstrap css / Bootstrap Icons -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

  <!-- Mi CSS-->
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/menu-lateral.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/panel.css}">
</head>

<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Menu Lateral -->
<aside th:replace="fragments/menu-lateral :: menu-lateral"></aside>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Bienvenido!</h1>
  </div>
  <div class="container">
    <div  class="contenedor-total-grafico">
      <div class="contenedor-monto-total">
        <div class="card">
          <div class="card-body">
            <h5>Saldo disponible:</h5>
            <div id="saldoTotal">Cargando...</div>
          </div>
        </div>
      </div>
      <div class="contenedor-grafico-ingresos-egresos">
        <div class="card">
          <div class="card-body lineas">
            <select class="años" id="aniosSelect">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>

            </select>
            <canvas id="myChartlineas"></canvas>
          </div>
        </div>
      </div>
  </div>
    <div class="contenedor-grafico-categorias card">
      <div class="card-body">
        <select class="meses" id="mesesSelect">
          <option value="0">Enero</option>
          <option value="1">Febrero</option>
          <option value="2">Marzo</option>
          <option value="3">Abril</option>
          <option value="4">Mayo</option>
          <option value="5">Junio</option>
          <option value="6">Julio</option>
          <option value="7">Agosto</option>
          <option value="8">Septiembre</option>
          <option value="9">Octubre</option>
          <option value="10">Noviembre</option>
          <option value="11">Diciembre</option>
        </select>
        <h5 id="movimientosVacios"></h5>
        <div class="card-body">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Script -->
<script th:src="@{/js/principal.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/panel.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.js}"></script>

</body>

</html>